{% extends 'base.html' %}
{% load static %}

{% block content %}

<video class="img-fluid"
    src="https://cdn.shopify.com/s/files/1/2992/1628/files/Durex_Route03-ThinFeel_1920x650_Under20mb.mp4?v=1616089156"
    data-autoplay="true" autoplay="" muted="" playsinline="" loop="" webboost_processed="true" __idm_id__="747025409">
</video>
<div class="container justify-content-center">
    <div class="card">
        <div class="row">
            <div class="col text-center">
                <img src=https://cdn.myanimelist.net/images/anime/1880/101146.jpg>
                <p>Poster Tenki No Ko</p>
                <p>Harga</p>
                <p>Rp. 30.000</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}