{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header bg-light">
    <div class="header-content container-lg">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-12">
                <div class="profile-text text-dark">
                    <p>Hello! Welcome to my portfolio!</p>
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">Annisa Nur Handayani</h1>
                    <h3>Brawijaya University Undergraduate Student</h2>
                    <p>You Should Enjoy The Little Detours To The Fullest. Because That's Where You'll Find Things More Important Than What You Want.</p>
                    <button class="btn btn-danger">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mt-4 mb-4">
                <h2 class="fw-bold"> Myworks</h2>
            </div>
        </div>
    </div>

<div class="container mt-4">
    <div class="card p-4 mb-4">
        <div class="row align-items-center">
            <div class="col">
                <div class="card p-4 mb-4">
                    <img src="https://www.horeca.com/images/product/detail/bartscher-toaster-tsbr20.jpg" width="180">
                </div>
            </div>
            <div class="col-6">
                <h2>Toaster</h2>
                <span>Food and Beverage </span>
                <p>A toaster is an electric small appliance designed to expose various types of sliced bread to radiant heat, browning the bread so it becomes toast.</p>
            </div>
            <div class="col">
                <div class="row mb-4">
                    <a class="btn btn-outline-danger" href="../shop/console">Read More </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}